<%- include('partials/header') -%>

  <div class="mx-5">
    <div class="flex w-screen justify-evenly">
      <ul class="grid grid-cols-3 gap-7 mx-5 mb-10">
        <% for(var i=0; i<posts.length; i++) {%>
          <% if(posts[i].user == user.id){ %>
          <li class="invisible">
          </li>
         <% }else{ %>
          <li class="w-80 my-3 flex items-center">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
         <% } %>
        <% } %>
        </ul>
    </div>
  </div>  

<%- include('partials/footer') -%>