<%- include('partials/frontheader') -%>

<main class="flex justify-center h-screen w-screen items-center bg-auto bg-repeat bg-center animate-ltr-linear-infinite" style="background-image: url(/imgs/dandelionBackground.png)"></div>">
  <div class="card w-1/3 shadow-xl bg-neutral text-neutral-content">
      <div class="card-body items-center text-center mt-5 w-full">
        <h2 class="card-title text-white text-4xl">Log In</h2>
        <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
          <div class="alert alert-danger"><%= el.msg %></div>
          <% }) %> <% } %> <% if (locals.messages.info) { %> <%
          messages.info.forEach( el => { %>
          <div class="alert alert-info"><%= el.msg %></div>
          <% }) %> <% } %>
          <form action="/login" method="POST" class="items-center">
            <div class="form-control mt-5 w-6/7">
              <label for="exampleInputEmail1" class="input-group w-full">
                <span>Email Address</span>
                <input type="email" placeholder="Email Address" class="input input-bordered w-full" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"/>
              </label>
            </div>
            <div class="form-control mt-5 w-6/7">
              <label for="exampleInputPassword1"  class="input-group w-full">
                <span>Password</span>
                <input type="password" placeholder="Password" class="input input-bordered w-full" id="exampleInputPassword1" name="password">
                </label>
            </div>
            <div class="card-actions justify-center">
              <button type="submit" class="btn btn-outline text-white mt-5">Submit</button>
            </div>
          </form>
          <span class="mt-3 text-white text-xs">If you don't have an account, please <a class="text-secondary hover:text-secondary-content" href=/signup>signup</a></span>
      </div>
  </div>
</main>

<%- include('partials/footer') -%>
