<%- include('partials/frontheader') -%>
    <main class="flex h-screen items-center">
        <div class="card w-96 shadow-xl bg-neutral text-neutral-content">
            <div class="card-body items-center text-center mt-5">
              <h2 class="card-title text-white text-4xl">Sign Up</h2>
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <form action="/signup" method="POST">
                  <div class="form-control mt-5 w-full">
                    <label for="userName" class="input-group">
                      <span>User Name</span>
                      <input type="text" placeholder="Username" class="input input-bordered" id="userName" name="userName"/>
                    </label>
                  </div>
                  <div class="form-control mt-5 w-full">
                    <label for="exampleInputEmail1" class="input-group">
                      <span>Email Address</span>
                      <input type="text" placeholder="Email Address" class="input input-bordered" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"/>
                    </label>
                  </div>
                  <div class="form-control mt-5 w-full">
                    <label for="password"  class="input-group">
                      <span> Password </span>
                      <input type="password" placeholder="Password" class="input input-bordered" id="password" name="password">
                      </label>
                  </div>
                  <div class="form-control mt-5 w-full">
                    <label for="confirmPassword"  class="input-group">
                      <span>Confirm Password</span>
                      <input type="password" placeholder="Confirm Password" class="input input-bordered" id="confirmPassword" name="confirmPassword">
                    </label>
                    <label class="label mt-2">
                      <span class="label-text text-white">We'll never share your email with anyone else.</span>
                    </label>
                    
                  </form>
                  <div class="card-actions justify-center">
                    <button type="submit" class="btn btn-outline text-white focus:ring mt-5">Submit</button>
                  </div>
            </div>
        </div>
    </main>

<%- include('partials/footer') -%>